/************
 * 页面样式
 ************/

/* ==========
   基本默认值
   ========== */

html {
    font-size: 62.5%;
    color: #666;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: square;
    list-style-position: inside;
    color:#666666;

}

h3,h4{
    font-weight:normal;
    color:#666666;
}

h3{
   display:block;
   border-bottom:1px solid;
   margin-bottom:1.5rem;
   padding-bottom:1rem;
}

h4{
    margin-top:0rem;
    padding-top:0rem;
    padding-bottom:0rem;
    margin-bottom:1.5rem;
    font-weight:bold;
}


/* ==========
   工具样式
   ========== */


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ===============
   浏览器更新提示
   =============== */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #fff;
}

/* ===============
   自定义页面样式
   =============== */

body {
    font-size: 1.8rem;
    line-height: 1.5;
    color:#666;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover, a:active {
    color: none;
    text-decoration: underline;
}

.item{
    padding-bottom:2rem;

}

/* 网站头部 */
header .bg1{
   background-color: #fafafa;
}

header .bg2{
   background-color: #f3f3f3;
}


header .top{
    width:80%;
    margin:0 auto;
    color: #8aa733;    
}

#top-hide{
    display: none;
}

header .top .dropdown-toggle{
    text-decoration:none;
}


header .logo{
    background:url(../img/logo.png) no-repeat;
    
    float: left;
    width:118px;
    height:35px;
    margin:1.5rem 1rem;
}  

header .top ul{
   
    float:left;
    width:60%;
}

header .top ul>li {
    display: inline-block;
    list-style:none;
    
    margin:2rem 1.8%;
    text-align: center;

}

header .top ul li a{
    color:#8aa733;

}

header .top .search{
    float:right;
    border:0;
    margin-top:1rem;
    
    font-size:1.4rem;
    background-color:#fff;
    box-shadow: 0px 0px 4px #ededed; 
    }


header .top .search .txt{
  line-height:normal;
  margin:0.5rem 0;
  border:none;
  outline:none;
}

header .top .search .btn{
    
    border:none;
    margin:1rem 0;
    
    background:url(../img/5-icon.png) 0 -75px no-repeat;
    width:20px;
    height:18px;
}

header .top .search .btn:hover{
    background:url(../img/5-icon.png) 0 -97px no-repeat;
}

header .join{    
    width:80%;
    margin:0rem auto;
    font-size:2.2rem;
    padding:3% 1%;
    
}
header .join p{
    display: inline-block;
    margin-left:10%;
    color:#333;
   
}

header .join  form{
   display: inline-block;
  
}

header .join form input{
    color:#f7f7bb;
    border:0;
    outline:none;
    background-color:#88c833;
    padding:0.5rem 4rem;
    margin-left:2rem;
}

header .join .logon{
    width:30%;
    margin-left:52%;
    color:#999;
    font-size:1.8rem;
   
}

header .join .logon .logon-text{
    display:block;
    float:left;
}

#lh li{
 
    margin-bottom:0;
    margin-top:0;

}

header .join .logon ul li{
    
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left:15px;
}


.join .logon ul li .icon{
    display: inline-block;
    text-indent: -999rem;
    margin-right: 0.5rem;
    background: url(http://static.guokr.com/skin/imgs/4-icon.png) no-repeat;
    background-size: 602px 570px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    overflow: hidden;
}

.join .logon ul li .weixin{
    background-position: -50px -471px ;
} 

.join .logon ul li .weibo{
    
    background-position: 0 -496px ;
} 

.join .logon ul li .QQ{
    background-position: -75px -471px; ;
} 

.join .logon ul li .douban{
    background-position: -50px -496px; ;
} 



@media only screen and (max-width: 50em) {
    header .bg1,header .bg2{
        display:none;}
    
    #top-hide{       
        display: inline-block;
        width:100%;
        color:#f3f3f3;
        text-align:center;
    }
    
    #top-hide a {
        display: inline-block;
        text-decoration:none;
        width:14%;
        font-size:1.5rem;      
        padding:1.5%;
    }

    #top-hide a+a{
        margin-left:1.2%;
    }

    h3,h4,body{
        font-size:1.5rem;
        font-weight:normal;
    }

    .container{
        width:100% !important;
        clear:both;
    }

    .container .m-cont .rec .rec-ad{
     float:none;
     width:100% !important;    
}
    
    .container .ques .item,
    .container .hot .item{
    width:100% !important;      
}
   
   .container .m-cont .item .cont p a{  
   padding-left:1rem;
}
    
    .container .m-cont .item .cont{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}   

    .container .m-cont .rec .rec-cont {
     float:none;
     width:100% !important;   
}


.container .m-cont .rec .rec-cont ul li {
   line-height:1.5rem;
   
}

   
}
    
    



/*======= 
中部内容
=======*/

.container{ 
    width:80%;
    margin:0 auto;
    font-size:1.4rem;
} 

/* ======
中部第一块
======== */


.container .m-cont{
    float:left;
    width:100%;   
}

.container .m-cont .item ul li:first-child>a{
    height:90px;
    float:left;
    
    margin:0;
    padding:0;
} 


.container .m-cont .item ul li:first-child>a.container .m-cont .item ul li{
    padding-bottom:1rem;
}

 .container .m-cont .item .cont{
    width:55.5%;
    float:left;   
    margin-left:0.5%;
    
    
}

.container .m-cont .item .cont>h4{
    
}

.container .m-cont .item .cont h4{
    margin-bottom:0.5rem;
}

.container .m-cont .item .cont p{
   font-size:1.2rem;
   padding:0 ;
   margin:0;
 
}

.container .m-cont .item .cont p a{
   color:#66aed3;
   padding-left:2.2rem;
   font-size:1.4rem;

}


.container .m-cont .rec{
   width:100%;
   
}

.container .m-cont .rec .rec-h{
   
    border-bottom:1px solid #f3f3f3;
    margin-bottom:0rem;
    
}

.container .m-cont .rec .rec-ad{
     float:left;
     width:48%;
    
}




.container .m-cont .rec .rec-ad .item .bot-text{
  
    color:#fff;
    background-color:#000;
    opacity:0.3;
    text-align:center;
    line-height:3rem;


}

.container .m-cont .rec .rec-cont {
  float:right;
  width:48%;   
}


.container .m-cont .rec .rec-cont ul li {
   list-style:none;
   line-height:2.6rem;
   
}

.container .rec h3{
    color:#666;
    border-bottom-color:#f3f3f3;
}

.container .ques h3{
  color:#148fed;
  border-bottom-color:#8ec0e6;
}

.container .hot h3{
   color:#2f95e4;
   border-bottom-color:#74cd64;
}

.container .ques .item,
.container .hot .item{
    width:49%;
    float: left;
   
  
}

.container .m-cont .ques .item ul ,
.container .m-cont .hot .item ul{
    mrgin:0 auto;
}

.container .m-cont .ques .item ul li:first-child,
.container .m-cont .hot .item ul li:first-child
{
    list-style:none;
}




/* 底部 */

footer {
    width:80%;
    margin:0 auto;
    
    margin-top:2rem;
}

footer .ft-nav {
    border-bottom:1px solid #f3f3f3;
    font-size:1.5rem;
}

footer ul {
  text-align:center;

}

footer ul li{
    display: inline-block;
    text-align:center;
    padding:0 1.2rem;
    

}

footer ul li a{
    color:#5aa8f9;
}

footer p{
    text-align:center;
    font-size:1.2rem;

}

footer p a{
    display: inline-block;
    text-decoration:none;

}

footer p a:hover{
    text-decoration:none;
}